body {
  background: black;
}

.file {
  width: 400px;
  height: 400px;
  background: url('./assets/images/img_likeeat.png');
}

.url {
  width: 400px;
  height: 400px;
  background: url('./assets/images/img_plie.png');
}
